<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 ">
      <li class="nav-item active">
        <a (click)="onOpenModal('add')" class="nav-link" href="#">Add Employee <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline ">
      <input ngModel #key="ngModel" name="key" (ngModelChange)="searchEmployees(key.value)" class="form-control " type="search" placeholder="Search name or email">
    </form>
  </div>
</nav>
<br>
<br>
<div class="container" id="btn-holder">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{employee.imageUrl? employee.imageUrl : defaultIcon}}" alt=""
                class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{employee?.name}}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
              href="#">{{employee?.email}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal('edit',employee)" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal('delete',employee)" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="employees?.length == 0" class="alert alert-info" role="alert">
    <h2 class="btn btn-info" (click)="onOpenModal('add')">Add a new employee?</h2>
    No any employee data found.
  </div>
</div>

<!--Add Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Employee</h5>
        <button type="button" class="close" id="addModalClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" name="name" ngModel class="form-control" id="exampleInputName" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="text" ngModel name="email" class="form-control" id="exampleInputEmail" placeholder="Enter Email" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Phone</label>
            <input type="text" ngModel name="phone" class="form-control" id="exampleInputPhone" placeholder="Enter Phone Number" required>
          </div>
          <div class="form-group">
            <label for="exampleInputImg">Image URL</label>
            <input type="text" ngModel name="imageUrl" class="form-control" id="exampleInputImg" placeholder="Enter Image URL"  required>
          </div>
          <div class="modal-footer">
            <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>



<!--Edit Modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Employee</h5>
        <button type="button" id="editModalClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="onEditEmployee(editForm)">

          <div class="form-group">
            <label for="exampleInputImg">Employee ID</label>
            <input type="text" class="form-control" ngModel="{{editEmployee?.id}}" name="id" readonly>
          </div>

          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="exampleInputName" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="text"  ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="exampleInputEmail" placeholder="Enter Email" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Phone</label>
            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="exampleInputPhone" placeholder="Enter Phone Number" required>
          </div>
          <div class="form-group">
            <label for="exampleInputImg">Image URL</label>
            <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="exampleInputImg" placeholder="Enter Image URL" required>
          </div>

          <div class="form-group">
            <label for="exampleInputImg">Employee Code</label>
            <input type="text" class="form-control" ngModel="{{editEmployee?.employeeCode}}" name="employeeCode" readonly>
          </div>

      <div class="modal-footer">
        <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>


<!--Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Employeee: <h5 class="btn btn-outline-danger">{{deleteEmployee?.name}}</h5></h5>
        <button type="button" id="deleteModalClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button (click)="onDeleteEmployee(deleteEmployee)" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

